name: Run benchmarks

on:
  pull_request:
  workflow_dispatch:

jobs:
  benchmark:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.7'
      - name: Cache artifacts
        uses: actions/cache@v3
        with:
          path: |
            ~/.julia/artifacts
            ~/.julia/registries
          key: ${{ runner.os }}-benchmarks-artifacts-${{ hashFiles('**/Project.toml') }}
          restore-keys: ${{ runner.os }}-benchmarks-artifacts
      - name: Run benchmarks
        shell: julia --color=yes --project=benchmark {0}
        run: |
          using Pkg
          Pkg.instantiate()

          using PkgBenchmark, BenchmarkCI

          BenchmarkCI.judge()
      - name: Print judgement
        shell: julia --color=yes --project=benchmark {0}
        run: |
          using BenchmarkCI

          BenchmarkCI.displayjudgement()
      - name: Push results
        shell: julia --color=yes --project=benchmark {0}
        run: |
          using BenchmarkCI

          BenchmarkCI.pushresult(;
              url = "git@github.com:JuliaPhysics/Measurements.jl.git",
          )
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SSH_KEY: ${{ secrets.DOCUMENTER_KEY }}
