name: CI

on:
  push:
  pull_request:
  release:

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: on PRs.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test:
    name: Debug
    runs-on: macos-latest
    strategy:
      fail-fast: false
    steps:
      - run: |
          csrutil status
